# ==========================
# Node.js
# ==========================
node_modules/
npm-debug.log*

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Prisma
# ==========================
generated/
.prisma/

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# VS Code
# ==========================
.vscode/settings.json
.vscode/*.code-workspace

# ==========================
# Build folders
# ==========================
dist/
build/

# ==========================
# Testing files     
# ==========================
frontend/pages/testing.html
frontend/js/testing.js