#dashboardSec img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#dashboardSec img {
    border: 2px solid #ffffff;
}
html.dark-mode body #dashboardSec img {
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

html.dark-mode body #dashboardSec,
html.dark-mode body #dashboardSec .card,
html.dark-mode body #dashboardSec .card-header,
html.dark-mode body #dashboardSec .card-body {
  background-color: var(--surface-color) !important;
}